<h2>MY HEROES</h2> 
<div>
    <label>Hero name:
        <input #heroName />
    </label>
    <button (click)="add(heroName.value); heroName.value=''">add</button>
</div>  
<p>--SHOW HEROS-- TEST *Direvtive</p>
<span>
    {{condition}}-{{condition ? 'hidden': 'show'}}
</span>
<button (click)="condition = !condition">click to toggle heros</button>
<ul class="heroes" *appUnless = "condition">
    <li *ngFor="let hero of heros" [class]="specil">
        <a [routerLink]="['/detail',hero.id]">
            <span class="badge">{{hero?.id | currency}}</span> {{hero?.name}}
        </a>
        <ng-template>test</ng-template>
        <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </li>
</ul> 


